.overlay-container{
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    color: var(--text-color-light);
    transform: translateX(100%);
    transition: 1s;
    z-index: 10;
}
.login-container.move .overlay-container{
    transform: translateX(0%);
}
